body {
/* 	background-color: #ddd; */
/* 	color: #222; */
	font-family: Helvetica;
	font-size: 14px;
	margin: 0;
	padding: 0;
}

#header h1 {
	margin: 0;
	padding: 0;
}

#header h1 a {
	background-color: #000;
	border-bottom: 1px solid #666;
	display: block;
	font-size: 20px;
	font-weight: bold;
	padding: 10px 0;
	text-align: center;
	text-decoration: none;
}

#content {
	padding: 10px;
}

#content ul {
	list-style: none;
	margin: 10px;
	padding: 0;
}

/* li { */
/* 	background-color: red; */
/* 	margin: 0; */
/* 	padding: 2px; */
/* } */

#content ul li a{
	background-color: #000;
	border: 1px solid #666;
	color: #fff;
	display: block;
	font-size: 17px;
	font-weight: bold;
	margin-bottom: -1px;
	padding: 12px 10px;
	text-decoration: none;
}

#header h1 a {
/* 	text-shadow: 0px 1px 0px #999; */
	background-image: -webkit-gradient(liner, left top, left bottom,
									   from(#666), to(#000));
}

#content ul li:first-child a {
	-webkit-border-top-left-radius: 8px;
	-webkit-border-top-right-radius: 8px;
}

#content ul li:last-child a {
	-webkit-border-bottom-left-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;
}
